{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label == 'error' ? 'danger' : label }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}

    <h1>Category index</h1>

    <a href="{{ path('app_category_new') }}" class="btn btn-secondary float-end">Create new</a>

    {% if categories is empty %}
        <div class="alert alert-info">No categories found.</div>
    {% else %}
        {{ include('category/_tree.html.twig', { categories: categories }) }}
    {% endif %}
{% endblock %}
